---
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  ClangTidy:
    Remove: ["custom-memly-*"]
    FastCheckFilter: None
---
If:
  PathExclude: (source|test)/.*

CompileFlags:
  Remove: [-W*, -pedantic, /W*, /clang:-W*, /clang:-pedantic]

Diagnostics:
  Suppress: ["*"]
