AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: false
AlignConsecutiveDeclarations:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: false
AlignConsecutiveMacros:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: false
AlignArrayOfStructures: None
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Never
  OverEmptyLines: 0
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine:
  Empty: false
  Inline: false
  Other: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BinPackLongBracedList: false
BracedInitializerIndentWidth: 4
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakAfterJavaFieldAnnotations: false
BreakAfterOpenBracketFunction: true
BreakAfterReturnType: All
BreakBeforeBinaryOperators: None
BreakBeforeCloseBracketFunction: true
BreakBeforeBraces: Attach
BreakBeforeInheritanceComma: false
BreakBeforeReturnType: None
BreakBeforeTernaryOperators: false
BreakBinaryOperations:
  Default: Never
  PerOperator:
    - Operators: ["&&", "||"]
      Style: OnePerLine
      MinChainLength: 3
BreakConstructorInitializers: AfterColon
BreakFunctionDeclarationParameters: false
BreakFunctionDefinitionParameters: false
BreakStringLiterals: false
BreakTemplateDeclarations: "Yes"
ColumnLimit: 80
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: Block
DerivePointerAlignment: false
DisableFormat: false
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: false

IncludeBlocks: Regroup
IncludeCategories:
  # Specific external headers in <> to put first
  - Regex: "<(catch2|gtest).*>"
    Priority: 1
  # External headers in <> with extension or /
  - Regex: '<[-\w\/-_]+[\.\/][-\w\/-_]+>'
    Priority: 2
  # Standard headers in <>
  - Regex: '<[-\w\/-_]+>'
    Priority: 3
  # Local headers in ""
  - Regex: '"[-\w\/-_]*"'
    Priority: 4
IncludeIsMainRegex: "(Test)?$"
IndentCaseLabels: false
IndentGotoLabels: false
IndentPPDirectives: None
IndentWidth: 4
IndentWrappedFunctionNames: false
JavaScriptQuotes: Leave
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: false
MacroBlockBegin: ""
MacroBlockEnd: ""
MaxEmptyLinesToKeep: 1
RemoveEmptyLinesInUnwrappedLines: true
NamespaceIndentation: None
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 8
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PackArguments:
  BinPack: OnePerLine
PackConstructorInitializers: BinPack
PackParameters:
  BinPack: OnePerLine

# Taken from git's rules
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 30
PenaltyBreakBeforeMemberAccess: 0
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 0
PenaltyBreakScopeResolution: 1000000
PenaltyBreakString: 10
PenaltyExcessCharacter: 1000000
PenaltyIndentedWhitespace: 100
PenaltyReturnTypeOnItsOwnLine: 0

PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: Always
SeparateDefinitionBlocks: Always
SortIncludes:
  Enabled: true
  IgnoreCase: false
SortUsingDeclarations: Never
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBraces: Never
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInParens: Never
SpacesInSquareBrackets: false
Language: Cpp
Standard: Latest
TabWidth: 4
UseTab: Never
