Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  modernize-return-braced-init-list,
  readability-implicit-bool-conversion,
  readability-isolate-declaration,
  readability-braces-around-statements,
  readability-operators-representation
WarningsAsErrors: "*"
CheckOptions:
  - {
      key: bugprone-unused-local-non-trivial-variable.IncludeTypes,
      value: ".*",
    }
  - {
      key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic,
      value: "true",
    }
  - {
      key: readability-operators-representation.BinaryOperators,
      value: "and;and_eq;bitand;bitor;compl;not;not_eq;or;or_eq;xor;xor_eq",
    }
  - {
      key: readability-operators-representation.OverloadedOperators,
      value: "and;and_eq;bitand;bitor;compl;not;not_eq;or;or_eq;xor;xor_eq",
    }
