---
Diagnostics:
  ClangTidy:
    FastCheckFilter: None

---
If:
  PathExclude: (src|test)/.*

CompileFlags:
  Remove: [-W*, -pedantic, /W*, /clang:-W*, /clang:-pedantic]

Diagnostics:
  ClangTidy:
    Remove: ['*']

---
If:
  PathExclude: (src|test)/.*

Diagnostics:
  Suppress: ['*']
